//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $grayDark;
  background: $userBar url('../img/header-lines.png') repeat top left;

  &.admin-menu {
    margin-top: 32px !important;
  }
}


// Links
// -------------------------

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

// Images
// -------------------------

// Rounded corners
.img-rounded {
  @include border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  @include box-shadow(#{0 1px 3px rgba(0,0,0,.1)});
}

// Perfect circle
.img-circle {
  @include border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}

/*
Block clearfix - yup its a recap of the clearfix trick, no reason to do class="clearfix/cf/whatever" all over our markup
----------------------------*/
.block .content:before,.block .content:after { content:""; display:table;}
.block .content:after { clear:both;}
.block .content { zoom:1;}

/*
  admin styles for blocks
* ------------------------------------- */
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 0px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}

// Front Page Region spacing
// -------------------------

.three-25-50-25 {
  .region-first {
    display: none;

    @include at-breakpoint($computer) {
      @include span-columns(5, 14);
      display: block;
    }

    @include at-breakpoint($wide) {
      @include span-columns(4, 14);
    }
  }

  .region-second {
    @include span-columns(14 omega, 14);

    @include at-breakpoint($computer) {
      @include span-columns(9 omega, 14);
    }

    @include at-breakpoint($wide) {
      @include span-columns(6, 14);
    }
  }

  .region-third {
    @include at-breakpoint($computer) {
      @include span-columns(9 omega, 14);
    }

    @include at-breakpoint($wide) {
      @include span-columns(4 omega, 14);
      display: block;
    }
  }
}

// Inner Page Region Spancing
// --------------------------

.two-33-66 {
  .region-first {
    display: none;

    @include at-breakpoint($computer) {
      @include span-columns(5, 16);
      display: block;
    }

    @include at-breakpoint($wide) {
      @include span-columns(4, 16);
    }
  }

  .region-second {
    @include span-columns(16 omega, 16);

    @include at-breakpoint($computer) {
      @include span-columns(11 omega, 16);
    }

    @include at-breakpoint($wide) {
      @include span-columns(12 omega, 16);
    }
  }
}

//
// three-inset-right Panel
//
.parrot-panels {
  #three-inset-right-wrapper{
    #three-inset-right-right-wrapper{
      @include span-columns(16 omega, 16);

      @include at-breakpoint($computer){
        @include span-columns(10 omega, 16);
      }
      @include at-breakpoint($wide){
        @include span-columns(12 omega, 16);
      }
      .three-inset-right-top,
      .three-inset-right-bottom{
        @include span-columns(16 omega, 16);
      }
      .three-inset-right-middle{
        @include span-columns(16 omega, 16);

        @include at-breakpoint($computer){
          @include remove-omega;
          @include span-columns(16, 16);
        }
        @include at-breakpoint($wide){
          @include remove-omega;
          @include span-columns(10, 16);
        }
      }
      .three-inset-right-inset{
        @include span-columns(16 omega, 16);

        @include at-breakpoint($computer){
          @include span-columns(16 omega, 16);
        }
        @include at-breakpoint($wide){
          @include span-columns(6 omega, 16);
        }
      }
    }
    #three-inset-right-left-wrapper{
      @include span-columns(16 omega, 16);

      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(6, 16);
      }
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(4, 16);
      }
    }
  }
}