// Standard elements
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

// Standard styling for headers and text in the main content area
#panel-wrapper {
  h2 {
    margin: 0;
    padding: 0 0 0 1.5em;
    font-size: 13px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    border-top: 1px solid $dropdownDividerTop;
    border-bottom: 1px solid $dropdownDividerTop;
    color: $linuxDarkGray;
  }

  a.orange-button {
    display: block;
    width: auto;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 25px;
    padding: 0 10px;
    @include border-radius(4px);
    background: $linuxStdOrange;
    color: white;
    border: 2px solid white;

    &:hover {
      background: white;
      border-color: $linuxStdOrange;
      color: $linuxStdOrange;
    }
  }
}

// User bar styles and structure
#user-wrapper {
  background: $userBar url('../img/header-lines.png') repeat top left;
  
  #block-menu-menu-join-us {
    float: right;

    li {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin: 7px 0 0 5px;
      background: white;
      line-height: 13px;
      @include border-radius(1px);
      color: $userBar;
      text-align: center;
      overflow: hidden;
      cursor: pointer;

      &:first-child {
        color: white;
        letter-spacing: 0.1em;
        font-weight: 600;
        text-transform: uppercase;
        width: auto;
        background: transparent;
        margin: 0 5px 0 0;
        line-height: 30px;
        height: 30px;
        cursor: default;

        span {
          font-size: 10px;
        }
      }
      
      span {
        font-size: 11px;

        &.addthis-facebook {
          @include icon-facebook;
        }

        &.addthis-twitter {
          @include icon-twitter;
        }

        &.addthis-googleplus {
          @include icon-google-plus;
        }

        &.addthis-linkedin {
          @include icon-linkedin;
        }

        &.addthis-rss {
          @include icon-rss;
        }

        &:before {
          padding-right: 0 !important;
        }
      }
    }
  }

  .nice-menu {
    > .menuparent {
      width: 235px;
      border: none;
      background: transparent url('../img/linux-foundation-network.png') no-repeat left center;
      color: transparent;
      cursor: pointer;

      ul,
      li {
        border: 0;
        width: 235px;
        background-color: $userBar;
      }

      ul {
        top: 30px;

        li {
          padding: 3px 10px;

          a {
            color: white;
          }
        }
      }
    }
  }

  @include at-breakpoint($tablet) {
    height: 30px;

    .nice-menu {
      > .menuparent {
        height: 30px;
      }
    }
  }
}

#header-wrapper {
  margin: 0 0 20px;

  .ad-space {
    width: 730px;
    height: 90px;
    background-color: $grayLighter;
    color: $grayLight;
    text-transform: uppercase;
    line-height: 90px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    margin: 2em auto;
  }

  #block-panels-mini-global-header {
    border-top: 1px solid $dropdownDividerTop;
    border-bottom: 1px solid $dropdownDividerTop;

    #logo {
      width: 155px;
      margin: 11px 0 0;
      float: left;
    }

    .pane-nice-menus {
      @include span-columns(12 omega,12);

      ul.nice-menu {
        border: none;
        width: auto;

        li {
          border: none;
          width: auto;
          float: left;
          background: transparent;

          a {
            display: block;
            height: 48px;
            text-transform: uppercase;
            padding: 0 1.2em;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 48px;
            color: $linuxDarkGray;
            
            &.menu-icon {
              display: block;
              width: 26px;
              height: 48px;
              padding: 0;
              font-size: 18px;
              overflow: hidden;
              text-align: center;
            }

            &.menu-localization {
              @include icon-globe;
            }

            @include at-breakpoint($wide) {
              &.menu-localization {
                margin: 0 0 0 115px;
              }
            }

            &.menu-profile {
              @include icon-user;
            }

            &.menu-search {
              @include icon-search;
            }

            &:before {
              padding-right: 0 !important;
            }

            &:hover {
              border-bottom: 4px solid $dropdownDividerTop;
            }

            &.active {
              border-bottom: 4px solid $dropdownDividerTop;
              color: $linuxStdOrange;
            }
          }
        }
      }
    }

    @include at-breakpoint($wide) {
      .pane-nice-menus {
        @include span-columns(10 omega,12);

        ul.nice-menu {
          float: right;
        }
      }
    }
  }
}

// Footer styles and structures
#footer-wrapper {
  margin: 20px 0 0;
  padding: 20px 0 60px;
  background: $userBar url('../img/header-lines.png') repeat top left;
  font-weight: 600;
  text-transform: uppercase;

  #block-system-main-menu ul {
    margin: 0;
    font-size: 10px;

    .expanded {
      list-style-type: none;
      list-style-image: none;
      padding: 0;
      @include span-columns(2, 14);

      > a {
        color: $btnBorder;
      }

      li {
        a {
          color: white;
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }

  #block-bean-about-linux-foundation {
    font-size: 10px;
    color: $btnBorder;
    margin: 0 0 30px;

    p {
      font-family: $monoFontFamily;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 0.1em;
      line-height: 22px;
      text-transform: none;
      padding: 0 0 0 15%;
      margin: 15px 0 0;
    }

    a {
      color: white;
    }
  }

  #block-bean-copyright {
    font-size: 10px;
    color: $btnBorder;
  }

  @include at-breakpoint($wide) {
    #block-bean-copyright,
    #block-bean-about-linux-foundation {
      @include span-columns(4 omega, 14);
      text-align: right;
    }

    #block-bean-copyright {
      clear: right;
    }
  }
}