// User bar styles and structure
#user-wrapper {
  background: $userBar url('../img/header-lines.png') repeat top left;
  
  #block-menu-menu-join-us {
    float: right;

    li {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin: 7px 0 0 5px;
      background: white;
      line-height: 16px;
      @include border-radius(1px);
      color: $userBar;
      text-align: center;
      overflow: hidden;
      cursor: pointer;

      &:first-child {
        color: white;
        letter-spacing: 0.1em;
        font-weight: 600;
        text-transform: uppercase;
        width: auto;
        background: transparent;
        margin: 0 5px 0 0;
        line-height: 30px;
        height: 30px;
        cursor: default;

        span {
          font-size: 10px;
        }
      }
      
      span {
        font-size: 11px;

        &.addthis-facebook {
          @include icon-facebook;
        }

        &.addthis-twitter {
          @include icon-twitter;
        }

        &.addthis-googleplus {
          @include icon-google-plus;
        }

        &.addthis-linkedin {
          @include icon-linkedin;
        }

        &.addthis-rss {
          @include icon-rss;
        }

        &:before {
          padding-right: 0 !important;
        }
      }
    }
  }

  .nice-menu {
    > .menuparent {
      width: 235px;
      border: none;
      background: transparent url('../img/linux-foundation-network.png') no-repeat left center;
      color: transparent;
      cursor: pointer;

      ul,
      li {
        border: 0;
        width: 235px;
        background-color: $userBar;
      }

      ul {
        top: 30px;

        li {
          padding: 3px 10px;

          a {
            color: white;
          }
        }
      }
    }
  }

  @include at-breakpoint($tablet) {
    height: 30px;

    .nice-menu {
      > .menuparent {
        height: 30px;
      }
    }
  }
}

#header-wrapper {
  .ad-space {
    width: 730px;
    height: 90px;
    background-color: $grayLighter;
    color: $grayLight;
    text-transform: uppercase;
    line-height: 90px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    margin: 2em auto;
  }

  #block-panels-mini-global-header {
    border-top: 1px solid $grayLighter;
    border-bottom: 1px solid $grayLighter;

    #logo {
      @include span-columns(2, 12);
      margin: 11px 0 0;
    }

    ul.nice-menu {
      @include span-columns(10 omega,12);
      border: none;

      li {
        border: none;
        width: auto;
        background: transparent;

        a {
          display: block;
          height: 48px;
          text-transform: uppercase;
          padding: 0 1.2em;
          font-size: 10px;
          font-weight: 700;
          letter-spacing: 0.1em;
          line-height: 48px;
          text-decoration: none;
          color: $linuxDarkGray;

          &:hover {
            border-bottom: 4px solid $grayLighter;
          }

          &.active,
          &:active {
            border-bottom: 4px solid $grayLighter;
            color: $linusStdOrange;
          }
        }
      }
    }
  }
}