// Standard elements and node/comment styles
// -----------------------------------------

.not-front {
  @mixin node-position() {
    @include span-columns(8, 12);
    position: relative;
    z-index: 200;
  }

  @mixin content-padding() {
    padding: 0 1em;

    @include at-breakpoint($computer) {
      padding: 0;
    }
  }

  .pane-node-title {
    @include at-breakpoint($wide) {
      @include node-position();
    }

    @include content-padding;

    h1 {
      font-family: $monoFontFamily;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
    }

    @include at-breakpoint($tablet) {
      h1 {
        font-size: 32px;
        line-height: 36px
      }
    }

    @include at-breakpoint($computer) {
      h1 {
        font-size: 44px;
        line-height: 48px
      }
    }
  }

  .field-type-text-with-summary {
    @include at-breakpoint($wide) {
      @include node-position();
    }

    @include content-padding;

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .region-second {
    .field-type-image {
      @include content-padding;

      img {
        border-bottom: 3px solid $linuxStdOrange;
      }
    }
  }


  .field-type-taxonomy-term-reference {
    @include at-breakpoint($wide) {
      @include node-position();
    }
    padding: 20px 0;

    .field-item {
      display: inline;

      a {
        @include border-radius(3px);
        background: $linuxStdOrange;
        margin: 0;
        padding: 2px 5px;
        font-family: $condensedFontFamily;
        font-size: 12px;
        text-transform: capitalize;
        letter-spacing: 0.1em;
        color: white;

        &:hover {
          background: $linuxDarkestOrange;
        }
      }
    }
  }

  .link-wrapper {
    @include at-breakpoint($wide) {
      @include node-position();
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
      }
    }
  }

  .comment-form {
    @include at-breakpoint($wide) {
      @include node-position();
    }
  }

  .comment {
    clear: both;

    @include at-breakpoint($wide) {
      @include node-position();
    }

    h3 {
      display: none;
    }

    .username {
      display: inline;
      text-transform: capitalize;
      font-weight: 600;
      font-family: $condensedFontFamily
    }

    .picture {
      width: 75px;
      height: 75px;
      float: left;
      display: none;
      background: $dropdownDividerTop;
      margin: 0 15px 15px 0;
      @include border-radius(5px);

      @include at-breakpoint($computer) {
        display: block;
      }
    }

    .date {
      margin: 0 0 0 10px;
      padding: 0 0 0 10px;
      border-left: 1px solid $dropdownDividerTop;
      font-family: $condensedFontFamily;
      font-weight: 300;
    }

    p {
      font-size: 13px;
      line-height: 18px;
      font-weight: 600;
    }
  }

  .indented {
    margin: 0;

    article {
      border-left: 6px solid $linuxStdOrange;
      display: inline-block;
      margin: 0;
      padding: 0 0 0 25px;
    }
  }

  ul.links {
    display: inline-block;
    width: 100%;
    margin: 0 0 30px;
    list-style-type: none;
    @include at-breakpoint($wide) {
      @include node-position();
    }

    li.comment-delete,
    li.comment-edit,
    li.comment-reply {
      text-transform: capitalize;
      font-size: 14px;
      font-family: $condensedFontFamily;
      float: right;

      a {
        color: $gray;
        padding: 0 0 0 20px;
        margin: 0 0 0 10px;

        &:hover {
          @include opacity(0.5);
        }
      }
    }

    li.comment-reply {
      a {
        background: transparent url('../img/comment-reply.png') no-repeat center left;
      }
    }
  }

  @include at-breakpoint($wide) {
    #mini-panel-content_sidebar {
      position: absolute;
      right: 0;
    }
  }
}


// Standard styling for headers and text in the main content area
// --------------------------------------------------------------

h1 {
  display: inline-block;
  width: 100%;
  font-family: $monoFontFamily;
  font-weight: 300;
  font-size: 48px;
  line-height: 52px;
  text-transform: capitalize;
}

small {
  @include at-breakpoint($computer) {
    width: 60%;
  }
}

.standard-bean {
  clear: left;
  padding: 0 0 2em;
  position: relative;

  > div {
    padding: 0 0 1px;
  }

  h2 {
    margin: 0;
    padding: 0 0 0 1.5em;
    font-size: 13px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    border-top: 1px solid $btnBorder;
    border-bottom: 1px solid $btnBorder;
    background: $btnBorder url('../img/block-arrow-white.png') no-repeat center right 1.5em;
    color: white;

    &.expanded {
      color: $linuxDarkGray;
      background: transparent url('../img/block-arrow-gray.png') no-repeat center right 1.5em;
      border-color: $dropdownDividerTop;
    }
  }

  @include at-breakpoint($computer) {
    h2 {
      color: $linuxDarkGray;
      border-top: 1px solid $dropdownDividerTop;
      border-bottom: 1px solid $dropdownDividerTop;
      background: transparent;
      margin-bottom: 2em;
    }
  }

  .more-link {
    a {
      display: none;
      width: auto;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;
      line-height: 25px;
      padding: 0 10px;
      @include border-radius(4px);
      background: $linuxStdOrange;
      color: white;
      border: 2px solid white;
      float: right;
      position: absolute;
      z-index: 50;
      top: 11px;
      right: 1.5em;

      &:hover {
        background: $linuxDarkOrange;
      }
    }
  }

  @include at-breakpoint($computer) {
    .more-link a {
      display: block;
    }
  }

  .views-row {
    padding: 12px 20px;
    display: inline-block;
    width: 100%;

    &.views-row-odd {
      background: transparent;
    }

    @include at-breakpoint($computer) {
      &.views-row-odd {
        background: $tableBackgroundHover;
      }
    }

    &.views-row-even {
      background: $tableBackgroundHover;
    }

    @include at-breakpoint($computer) {
      &.views-row-even {
        background: transparent;
      }
    }

    .views-field-body,
    .views-field-title,
    .views-field-comment-body {
      h3,
      span,
      a {
        display: block;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;

        a {
          color: $grayDark;
          text-decoration: none;
        }
      }
    }
  }
}

.diagonal-lines {
  h2 {
    margin: 0;
  }

  > div {
    padding: 2em;
    background: transparent url('../img/content-lines.png') repeat top left;
  }
}

.filtered-view {
  h2 {
    @include icon-caret-down;
    background: transparent url('../img/most-recent-gray.png') no-repeat 85% center;
    background-position: -webkit-calc(100% - 45px) center; /* Sf 6 */
    background-position: right 45px center; /* Cr 25+, FF 13+, IE 9+, Op 10.5+ */
    cursor: pointer;

    &:before {
      color: $linuxStdOrange;
      float: right;
      line-height: 50px;
      font-size: 16px;
      padding-right: 1.5em;
    }

    &.popular {
      background-image: url('../img/most-popular-gray.png');
    }

    &.commented {
      background-image: url('../img/most-comments-gray.png');
    }

    &.shared {
      background-image: url('../img/most-shared-gray.png');
    }
  }
}

// User bar styles and structure
#user-wrapper {
  margin: 0;
  position: relative;
  z-index: 501;

  .nice-menu {
    > .menuparent {
      width: 235px;
      height: 30px;
      border: none;
      background: transparent url('../img/linux-foundation-network.png') no-repeat left center;
      color: transparent;
      cursor: pointer;

      ul,
      li {
        border: 0;
        width: 195px;
      }

      ul {
        top: 31px;
        padding: 0px 1.5em;
        width: auto;
        background: $userBar url('../img/header-lines.png') repeat top left;

        li {
          padding: 0;
          border-top: 1px solid #888;
          background: transparent;

          &:first-child {
            border: none;
          }

          a,
          span {
            display: block;
            color: white;
            font-size: 11px;
            font-weight: 400;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            padding: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#header-wrapper {
  padding: 0 0 20px;
  background: white;
  text-align: center;

  @include at-breakpoint($wide) {
    &.fixed {
      position: fixed;
      z-index: 999;
      top: -140px;
      width: 100%;
      border-bottom: 1px solid $dropdownDividerTop;
      background: rgba(255,255,255,0.95);
      padding: 0;

      #block-panels-mini-global-header {
        border: 0;
        height: 48px;
      }
    }
  }

  .ad-space {
    display: none;
    width: 730px;
    height: 90px;
    background-color: $grayLighter;
    color: $grayLight;
    text-transform: uppercase;
    line-height: 90px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    margin: 25px auto;
  }

  @include at-breakpoint($wide) {
    .ad-space {
      display: inline-block;
    }
  }

  #block-panels-mini-global-header {
    border-top: 1px solid $dropdownDividerTop;
    border-bottom: 1px solid $dropdownDividerTop;
    height: 50px;
    position: relative;
    z-index: 500;

    #logo {
      width: 155px;
      float: left;
      margin: 11px 15px 0 0;
    }

    .linux-main-menu {
      display: none;

      ul.nice-menu {
        border: none;
        width: 73%;
        text-align: left;
        float: left;

        > li {
          border: none;
          width: 20%;
          float: left;
          background: transparent;
          position: relative;
          text-align: center;

          &:hover {
            border-bottom: 4px solid $dropdownDividerTop;

            a,
            span {
              height: 44px;

              &.active {
                border-bottom: none;
              }
            }
          }

          &.active,
          &.active-trail {
            border-bottom: 4px solid $dropdownDividerTop;
          }

          > a,
          > span {
            display: block;
            height: 48px;
            text-transform: uppercase;
            padding: 0;
            font-size: 9px;
            font-weight: 700;
            line-height: 48px;
            color: $linuxDarkGray;
            cursor: pointer;

            &.active {
              color: $linuxStdOrange;
            }
          }

          @include at-breakpoint(60em) {
            > a,
            > span {
              letter-spacing: 0;
            }
          }

          @include at-breakpoint(75em) {
            > a,
            > span {
              font-size: 10px;
              letter-spacing: 0.1em;
            }
          }

          ul {
            background: $userBar url('../img/header-lines.png') repeat top left;
            top: 48px;
            left: 0;
            border: none;
            z-index: 998;
            list-style: none;
            width: 220px;
            @include box-shadow(0px 2px 3px rgba(0,0,0,0.3));

            li {
              border: none;
              background: transparent;
              text-align: left;

              a,
              span {
                margin: 0 1em;
                padding: 0;
                line-height: 40px;
                border-top: 1px solid #888;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 10px;
                color: white;
                cursor: pointer;
                width: 200px;

                &:hover {
                  @include opacity(0.7);
                }
              }
            }
          }
        }
      }
    }

    @include at-breakpoint($wide) {
      .linux-main-menu {
        display: block;
      }
    }

    .pane-menu-menu-utility-menu {
      ul {
        border: none;
        width: auto;
        margin: 0;
        float: right;

        > li {
          border: none;
          width: auto;
          float: left;
          background: transparent;
          position: relative;

          &:hover {
            border-bottom: 4px solid $dropdownDividerTop;

            a {
              height: 44px;
            }
          }

          &.active,
          &.active-trail {
            border-bottom: 4px solid $dropdownDividerTop;
          }

          > a,
          > span {
            display: block;
            height: 48px;
            text-transform: uppercase;
            padding: 0 1.2em;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 48px;
            color: $linuxDarkGray;
            cursor: pointer;

            &.menu-icon {
              display: block;
              width: 26px;
              height: 44px;
              padding: 0;
              font-size: 18px;
              overflow: hidden;
              text-align: center;
              letter-spacing: 0;
            }

            &.menu-profile {
              @include icon-user;
            }

            &.menu-utility {
              @include icon-reorder;

              &.active {
                background: transparent url('../img/content-lines.png') repeat 0px 4px;
                border: none;
                height: 49px;
              }
            }

            @include at-breakpoint($wide) {
              &.menu-utility {
                @include icon-search;
              }
            }

            &.menu-localization {
              @include icon-globe;
            }

            &:before {
              padding-right: 0 !important;
            }

            &.active {
              color: $linuxStdOrange;
            }
          }
        }
      }
    }
  }
}

#content-wrapper,
#panel-wrapper {
  background: white;

  @include at-breakpoint($wide) {
    &.fixed {
      padding-top: 205px;
    }
  }
}

// Footer styles and structures
#footer-wrapper {
  margin: 0;
  padding: 20px 0 60px;
  background: $userBar url('../img/header-lines.png') repeat top left;
  font-weight: 600;
  text-transform: uppercase;

  .footer-menu ul {
    margin: 0;
    font-size: 10px;
    list-style: none;

    .expanded {
      @include span-columns(7, 16);
      display: none;
      list-style-type: none;
      list-style-image: none;
      padding: 0;


      > a,
      > span {
        color: $btnBorder;
        cursor: pointer;
      }

      li {
        a,
        span, {
          color: white;
          cursor: pointer;
        }
      }
    }

    @include at-breakpoint($computer) {
      .expanded {
        display: block;
        @include span-columns(2, 16);
      }
    }

    @include at-breakpoint($wide) {
      .expanded {
        @include span-columns(2, 16);
      }
    }

    .menu-icon {
      display: none;
    }
  }

  #block-bean-about-linux-foundation {
    font-size: 10px;
    color: $btnBorder;
    margin: 0;
    text-align: right;

    p {
      font-family: $monoFontFamily;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 0.1em;
      line-height: 22px;
      text-transform: none;
    }

    a {
      color: white;
    }
  }

  #block-bean-copyright {
    font-size: 10px;
    color: $btnBorder;
    text-align: right;
  }

  .pane-menu-menu-join-us {
    width: 100%;
    float: right;
    background: none;
    padding: 0;

    ul {
      li {
        background: white;

        &:hover {
          background: $linuxStdOrange;

          span {
            color: white;
          }
        }

        span {
          color: $gray;
        }
      }
    }
  }

  @include at-breakpoint($computer) {
    #block-bean-copyright,
    #block-bean-about-linux-foundation {
      @include span-columns(5 omega, 16);
      text-align: right;
    }

    .pane-menu-menu-join-us {
      width: auto;
    }

    #block-bean-copyright {
      clear: right;
    }

    #block-bean-about-linux-foundation {
      p {
        padding: 0 0 0 15%;
        margin: 15px 0 0;
      }
    }
  }
}

// Getting rid of some of the style defaults from flex slider
// ----------------------------------------------------------

.flexslider {
  margin: 0;
  padding: 0;
  border: none;
  @include border-radius(none);
  @include box-shadow(none);
}

// Specifics for the featured slideshow flex slide
// -----------------------------------------------

.featured-slideshow {
  @include span-columns(14 omega, 14);
  background-color: white;

  .flexslider_views_slideshow_slide {
    &:hover {
      img {
        @include opacity(0.3);
      }
    }
  }

  .flex-nav-container {
    margin: 0;
  }

  .flexslider {
    background: transparent;

    &:hover {
      a.flex-prev,
      a.flex-next {
        @include opacity(0);

        &:hover {
          @include opacity(0.8);
        }
      }
    }

    .slides {
      li {
        position: relative;
      }
    }
  }

  .views-field-title {
    h2 {
      border: 0;
      font-family: $monoFontFamily;
      font-size: 22px;
      line-height: 24px;
      font-weight: 300;
      @include text-shadow(0 0 20px rgba(0,0,0,0.1));

      a {
        color: $grayDark;
      }
    }
  }

  @include at-breakpoint($computer) {
    .views-field-title {
      position: absolute;
      margin: 0 20px;
      bottom: 40px;

      h2 {
        a {
          color: white;
        }
      }
    }
  }

  .views-field-comment-count {
    padding: 0 0 0 30px;
    bottom: 20px;
    background: transparent url('../img/comment-icon-orange.png') no-repeat left center;

    @include at-breakpoint($computer) {
      position: absolute;
      margin: 0 0 0 20px;
      background: transparent url('../img/comment-icon.png') no-repeat left center;
    }

    span {
      color: $grayDark;
      font-family: $condensedFontFamily;
      letter-spacing: 0.1em;
      font-size: 16px;
      @include text-shadow(0 0 20px rgba(0,0,0,0.1));

      @include at-breakpoint($computer) {
        color: white;
      }
    }
  }

  @include at-breakpoint($computer) {
    .views-field-comment-count {
      position: absolute;
      margin: 0 0 0 20px;
      padding: 0 0 0 30px;
      bottom: 20px;
      background: transparent url('../img/comment-icon.png') no-repeat left center;

      span {
        color: white;
        font-family: $condensedFontFamily;
        letter-spacing: 0.1em;
        font-size: 16px;
        @include text-shadow(0 0 20px rgba(0,0,0,0.1));
      }
    }
  }

  .flex-control-paging {
    display: none;
  }

  .flex-direction-nav {
    a {
      display: none;
      width: 50px;
      height: 100%;
      @include opacity(0);
      top: 0;
      margin: 0;
      background-position: center center;
      z-index: 0;
    }

    @include at-breakpoint($computer) {
      display: block;
    }

    .flex-prev {
      left: 0px;
      background: transparent url('../img/slideshow-prev.png') no-repeat center center;
    }

    .flex-next {
      right: 0px;
      background: transparent url('../img/slideshow-next.png') no-repeat center center;
    }
  }
}

@include at-breakpoint($tablet) {
  .featured-slideshow {
    .views-field-title {
      bottom: 60px;

      h2 {
        font-size: 38px;
        line-height: 38px;
      }
    }
  }
}

@include at-breakpoint($computer) {
  .featured-slideshow {
    background-color: $linuxStdOrange;

    .views-field-title {

      h2 {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}

@include at-breakpoint($wide) {
  .featured-slideshow {
    @include span-columns(10, 14);
    width: 72.46377%;
    margin-right: 0;
  }
}

// Feature tiles styles and structure
// ----------------------------------

.featured-tiles {
  display: none;
  background-color: $linuxStdOrange;

  .views-row {
    position: relative;

    &:hover {
      img {
        @include opacity(0.3);
      }
    }
  }

  .views-field-title {
    position: absolute;
    top: 0px;
    padding: 5px 20px;

    h2 {
      font-family: $monoFontFamily;
      font-size: 26px;
      font-weight: 300;
      line-height: 28px;
      @include text-shadow(0 0 15px rgba(0,0,0,0.1));

      a {
        color: white;
      }
    }
  }

  .views-field-comment-count {
    position: absolute;
    margin: 0 0 0 20px;
    padding: 0 0 0 30px;
    bottom: 20px;
    background: transparent url('../img/comment-icon.png') no-repeat left center;

    span {
      color: white;
      font-family: $condensedFontFamily;
      letter-spacing: 0.1em;
      font-size: 16px;
    }
  }
}

@include at-breakpoint($wide) {
  .featured-tiles {
    display: block;
    @include span-columns(4 omega,14);
  }
}

// Numbered view listing
// ---------------------

.numbered {
  clear: left;

  ol {
    list-style-type: none;
    margin: 0;

    .views-row {
      min-height: 60px;
      clear: left;

      .views-field-counter {
        width: 30px;
        height: 40px;
        margin: 0 10px 0 0;
        border-right: 1px solid $dropdownDividerTop;
        float: left;

        span {
          font-size: 28px;
          font-weight: 800;
          height: 40px;
          line-height: 40px;
          color: $linuxDarkGray;
        }
      }
    }
  }
}

// Events View Listing
// -------------------

.events {
  ul {
    list-style-type: none;
    margin: 0;

    .views-row {
      margin: 0;
      width: 100%;

      .views-field-title {
        h3 {
          font-weight: 700;
        }
      }

      .views-field-created {
        margin: 0 0 5px;

        span {
          font-size: 12px;
          font-weight: 300;
          color: lighten($grayDark, 50%);
        }
      }

      .views-field span {
        a {
          display: inline;
          font-size: 11px;
          line-height: 17px;
          font-weight: 700;
          text-transform: uppercase;
          color: $linuxStdOrange;
        }
      }

      .views-field-view-node,
      .views-field-view-node-1 {
        display: inline;
        line-height: 13px;
        font-size: 0px;
      }


      .views-field-view-node {
        a {
          margin: 0;
          padding: 0;
        }
      }

      .views-field-view-node-1 {
        a {
          border-right: 1px solid $dropdownDividerTop;
          padding: 0 10px 0 0;
          margin: 0 10px 0 0;
        }
      }
    }
  }
}

// Editorial View Listing and customized pane styles
// -------------------------------------------------

.editorial {
  position: relative;

  h2 {
    border-bottom: 0;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 0 20px;
    background: transparent none no-repeat 0 0;
    color: $linuxDarkGray;
    border-top: 1px solid $dropdownDividerTop;
  }

  @include at-breakpoint($computer) {
    h2 {
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0;
      padding: 0;
      border-color: white;
    }
  }

  .editorial-updated {
    display: block;
    width: auto;
    font-family: $condensedFontFamily;
    font-size: 13px;
    line-height: 25px;
    margin: -20px 0 20px;
    padding: 0 20px 10px;
    border-bottom: 1px solid $dropdownDividerTop;
  }

  @include at-breakpoint($computer) {
    .editorial-updated {
      padding: 0;
      border: 0;
      position: absolute;
      right: 0;
      top: 38px;
    }
  }

  .views-row {
    margin: 0;
    padding: 20px;
    width: 100%;

    &.views-row-even,
    &.views-row-odd {
      background: white;
    }

    .views-field-title {
      h3 {
        margin: 0 0 5px;

        a {
          color: $grayDark;
          font-family: $monoFontFamily;
          font-size: 20px;
          font-weight: 300;
          line-height: 24px;
        }
      }
    }

    @include at-breakpoint($tablet) {
      .views-field-title {
        h3 {
          a {
          font-size: 26px;
          line-height: 30px;
          }
        }
      }
    }

    @include at-breakpoint($computer) {
      .views-field-title {
        h3 {
          a {
            font-size: 34px;
            line-height: 36px;
          }
        }
      }
    }

    .views-field-name {
      span.field-content {
        display: block;
        float: left;
        font-family: $condensedFontFamily;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        margin: 0 8px 0 0;
        padding: 0 8px 0 0;
        border-right: 1px solid $dropdownDividerTop;
      }
    }

    .views-field-created {
      span {
        display: block;
        float: left;
        font-family: $condensedFontFamily;
        font-size: 13px;
        line-height: 16px;
      }
    }

    .views-field-comment-count {
      span {
        float: right;
        padding: 0 0 0 20px;
        font-size: 14px;
        font-family: $condensedFontFamily;
        font-weight: 700;
        color: $linuxDarkGray;
        background: transparent url('../img/comment-icon-orange.png') no-repeat left center;
      }
    }

    .views-field-body,
    .field-type-text-with-summary {
      visibility: hidden;
      position: absolute;
      margin: 25px 0 0;
      height: 0;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.1em;
      line-height: 20px;
      color: white;
    }

    @include at-breakpoint($computer) {
      .views-field-body,
      .field-type-text-with-summary {

      }
    }

    .views-field-view-node {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      text-align: right;
      width: 100%;
      margin: -25px 0 0;
      visibility: hidden;

      a {
        color: white;
        text-decoration: none;

        &:after {
          content: "\f105";
          @include Awesome;
          font-weight: bold;
          font-size: 14px;
          color: white;
          padding: 0 0 0 5px;
        }
      }
    }

    .views-field-field-tags,
    .field-type-taxonomy-term-reference {
      visibility: hidden;
      width: 80%;

      a {
        display: inline-block;
        @include border-radius(3px);
        background: $linuxDarkestOrange;
        margin: 0 4px 0 0;
        padding: 0 5px;
        font-family: $condensedFontFamily;
        font-size: 12px;
        text-transform: capitalize;
        letter-spacing: 0.1em;
        color: white;
      }
    }

    .views-field-field-image {
      img {
        width: 100%;
        border-bottom: 3px solid $linuxStdOrange;
      }
    }

    @include at-breakpoint($tablet) {
      &:hover {
        background: $linuxStdOrange;
        @include gradient-directional($linuxStdOrange, $linuxLightOrange, 345deg);

        .views-field-title {
          h3 {
            a {
              color: white;
            }
          }
        }

        .views-field-name,
        .views-field-created {
          span {
            color: $linuxDarkestOrange;
            border-right-color: $linuxDarkestOrange;
          }
        }

        .views-field-comment-count,
        .views-field-field-image {
          visibility: hidden;
        }

        .views-field-view-node,
        .views-field-body,
        .views-field-field-tags,
        .field-type-taxonomy-term-reference,
        .field-type-text-with-summary {
          visibility: visible;
        }
      }
    }
  }

  @include at-breakpoint($wide) {
    .views-row {

    }
  }
}

// Latest Comments styles and structure
// ------------------------------------

.latest-comments {
  .views-row {
    p {
      font-size: 13px;
      line-height: 17px;
      color: $grayDark;
      margin: 0;
    }
  }
}

// Latest Comments styles and structure
// ------------------------------------

.recent-events {
  ul {
    li {
      margin: 0;
      list-style-type: none;
    }
  }

  .views-row {
    .views-field-field-image {
      img {
        margin: 5px 10px 0 0;
        border-bottom: 3px solid $linuxStdOrange;
        float: left;
      }
    }

    .views-field-created {
      span {
        font-family: $condensedFontFamily;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}

// Social media styles
// -------------------

.pane-menu-menu-join-us {
  background: transparent url('../img/content-lines.png') repeat top left;
  padding: 0 1em;
  height: 50px;

  h2 {
    font-size: 13px;
    line-height: 50px;
    font-weight: 700;
    color: $linuxDarkGray;
    text-transform: uppercase;
    margin: 0;
    float: left;
  }

  ul {
    margin: 0;
    float: right;

    li {
      display: block;
      float: left;
      width: 26px;
      height: 26px;
      margin: 12px 0 0 4px;
      background: $linuxDarkGray;
      line-height: 26px;
      @include border-radius(2px);
      color: white;
      text-align: center;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        background: $linuxDarkOrange;
      }

      span,
      a {
        font-size: 17px;

        &.addthis-facebook {
          @include icon-facebook;
        }

        &.addthis-twitter {
          @include icon-twitter;
        }

        &.addthis-googleplus {
          @include icon-google-plus;
        }

        &.addthis-linkedin {
          @include icon-linkedin;
        }

        &.addthis-rss {
          @include icon-rss;
        }

        &:before {
          padding-right: 0 !important;
        }
      }
    }
  }
}

@include at-breakpoint(78em) {
  .pane-menu-menu-join-us {
    padding: 0 1.5em;

    ul {
      li {
        margin: 12px 0 0 6px;
      }
    }
  }
}

// Most Recent menu filter
// -----------------------

.filtered-menu {
  display: none;
  position: relative;
  z-index: 99;
  width: 100%;
  background-color: $grayDark;
  position: relative;
  margin-bottom: -203px;

  ul {
    margin: 0;
    padding: 0 1.5em;
    list-style-type: none;

    li {
      border-top: 1px solid $btnInverseBackground;

      span,
      a {
        display: block;
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        &:hover {
          color: darken(white, 60%);
        }

        &.recent {
          background: transparent url('../img/most-recent-white.png') no-repeat right center;
        }

        &.popular {
          background: transparent url('../img/most-popular-white.png') no-repeat right center;
        }

        &.commented {
          background: transparent url('../img/most-comments-white.png') no-repeat right center;
        }

        &.shared {
          background: transparent url('../img/most-shared-white.png') no-repeat right center;
        }
      }

      &:first-child {
        border: none;
        @include icon-caret-down;

        &:before {
          color: darken(white, 60%);
          float: right;
          line-height: 50px;
          font-size: 16px;
        }

        span,
        a {
          color: darken(white, 60%);
          letter-spacing: 0em;
          font-weight: 700;
          font-size: 13px;
          background: none;
        }
      }
    }
  }
}

// User views and views rows with content type icons
// -------------------------------------------------

.user-activity {
  margin: 0 0 10px;

  .views-row {
    margin: 0 0 20px 25px;

    .views-field {
      span {
        display: inline;
      }
    }

    .views-field-type {
      font-weight: 700;
      font-family: $condensedFontFamily;
      text-transform: capitalize;
      border-right: 1px solid $dropdownDividerTop;
      padding: 0 7px 0 0;
      margin: 0 10px 0 0;
    }

    .views-field-title {
      a {
        display: inline;
        color: $grayDark;
      }
    }

    .views-field-created {
      em {
        font-style: normal;
      }

      font-weight: 300;
      font-family: $condensedFontFamily;
      border-left: 1px solid $dropdownDividerTop;
      margin: 0 0 0 7px;
      padding: 0 0 0 10px;
    }

    &.Forum,
    &.Blog,
    &.Answer,
    &.Question,
    &.Article,
    &.Tutorial,
    &.Shared,
    &.Review {
      padding: 0 0 0 26px;
    }


    &.Forum {
      background: transparent url('../img/forums-icon.png') no-repeat left center;
    }

    &.Blog {
      background: transparent url('../img/blogs-icon.png') no-repeat left center;
    }

    &.Answer,
    &.Question {
      background: transparent url('../img/answers-icon.png') no-repeat left center;
    }

    &.Article {
      background: transparent url('../img/articles-icon.png') no-repeat left center;
    }

    &.Tutorial {
      background: transparent url('../img/tutorials-icon.png') no-repeat left center;
    }

    &.Shared {
      background: transparent url('../img/shared-icon.png') no-repeat left center;
    }

    &.Review {
      background: transparent url('../img/reviews-icon.png') no-repeat left center;
    }
  }
}

.user-activity-stats {
  .views-row {
    height: 32px;
    margin: 0 0 20px 25px;
    line-height: 32px;

    .views-field-type {
      font-family: $condensedFontFamily;
      font-weight: 700;
      font-size: 18px;
    }

    .views-field-type-1 {
      font-family: $condensedFontFamily;
      font-weight: 300;
    }

    &.Forum,
    &.Blogs,
    &.Answers,
    &.Questions,
    &.Articles,
    &.Tutorials,
    &.Shareds,
    &.Reviews {
      padding: 0 0 0 42px;
    }


    &.Forum {
      background: transparent url('../img/forums-stat-icon.png') no-repeat left center;
    }

    &.Blogs {
      background: transparent url('../img/blog-stat-icon.png') no-repeat left center;
    }

    &.Answers,
    &.Questions {
      background: transparent url('../img/answers-stat-icon.png') no-repeat left center;
    }

    &.Articles {
      background: transparent url('../img/articles-stat-icon.png') no-repeat left center;
    }

    &.Tutorials {
      background: transparent url('../img/tutorials-stat-icon.png') no-repeat left center;
    }

    &.Shareds {
      background: transparent url('../img/shared-stat-icon.png') no-repeat left center;
    }

    &.Reviews {
      background: transparent url('../img/reviews-stat-icon.png') no-repeat left center;
    }
  }
}

// jPanel Menu styling
// -------------------

#jPanelMenu-menu {
  background: white;
}