/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 1641 of /Applications/MAMP/htdocs/linux_prod/profiles/linux/themes/linux/css/sass/components/_elements.scss
        from line 54 of /Applications/MAMP/htdocs/linux_prod/profiles/linux/themes/linux/css/sass/style.scss

Backtrace:
/Applications/MAMP/htdocs/linux_prod/profiles/linux/themes/linux/css/sass/components/_elements.scss:1641
/Applications/MAMP/htdocs/linux_prod/profiles/linux/themes/linux/css/sass/style.scss:54
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/scss/parser.rb:1148:in `expected'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/scss/parser.rb:28:in `parse'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/engine.rb:274:in `to_tree'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/bin/compass:19:in `load'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/bin/compass:19:in `<main>'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/bin/ruby_noexec_wrapper:14:in `eval'
/Users/adambrown/.rvm/gems/ruby-1.9.3-p429/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 1641 of /Applications/MAMP/htdocs/linux_prod/profiles/linux/themes/linux/css/sass/components/_elements.scss\A         from line 54 of /Applications/MAMP/htdocs/linux_prod/profiles/linux/themes/linux/css/sass/style.scss"; }
