/* FORUM LIST ICONS *********************************************************/
.forum-list-icon-default {
  background: none !important; }
  .forum-list-icon-default span {
    background: none !important; }

.forum-list-icon-new-posts {
  background: none !important; }
  .forum-list-icon-new-posts span {
    background: none !important; }

/* TOPIC LIST ICONS *********************************************************/
span.topic-icon {
  width: 24px;
  height: 24px;
  text-indent: -9999px; }

.topic-icon-default {
  background: none; }

.topic-icon-new {
  background: none; }

.topic-icon-hot {
  background: none; }

.topic-icon-hot-new {
  background: none; }

.topic-icon-sticky {
  background: none; }

.topic-icon-closed {
  background: none; }

/* TOPIC LIST ICON LEGEND ***************************************************/
.topic-icon-default {
  background: none; }

.topic-icon-new {
  background: none; }

.topic-icon-hot {
  background: none; }

.topic-icon-hot-new {
  background: none; }

.topic-icon-sticky {
  background: none; }

.topic-icon-closed {
  background: none; }
